params {
    // set platform
    platform              = "ont"

    // inputs
    prepped_data          = "${projectDir}/tests/data/nanopore_reads"
    refseq                = "${projectDir}/tests/data/test_reference.fasta"
    ref_gbk               = "${projectDir}/tests/data/test_reference.gbk"
    primer_bed            = "${projectDir}/tests/data/bad_bedfile.bed"

    // Minimum variant frequency to call a variant.
    min_variant_frequency = 0.2

    // the minimum acceptable average quality for a given read
    min_qual              = 10

    // base test results directory
    ont_results           = "${projectDir}/test_results"

    // Where to place the workflow run command
    run_command           = ont_results

    // basecalling and demultiplexing results
    basecall_results      = ont_results + "/01_basecalled_demuxed"
    basecall_bams         = basecall_results + "/bams"
    basecall_fastqs       = basecall_results + "/fastqs"

    // primer handling results
    primer_handling       = ont_results + "/02_primer_handling"
    respliced             = primer_handling + "/01_respliced_primers"
    complete_amplicons    = primer_handling + "/02_complete_amplicons"
    merged_by_sample      = primer_handling + "/03_merged_by_sample"

    // alignment results
    alignment             = ont_results + "/03_alignments"
    genomecov             = alignment + "/01_genomecov"
    cov_plots             = alignment + "/02_coverage_plots"

    // consensus results
    consensus             = ont_results + "/04_consensus_seqs"

    // variant results
    variants              = ont_results + "/05_variants"
    ivar                  = variants + "/01_ivar_tables"
    vcf                   = variants + "/02_annotated_vcfs"
    variant_tsv           = variants + "/03_variant_tsv"
    haplo                 = variants + "/04_haplotypes"

    // qc results
    qc                    = ont_results + "/06_QC"

    // phylo results
    phylo                 = ont_results + "/07_phylo"
    nextclade             = phylo + "/01_nextclade"

    // metagenomic results
    metagenomics          = ont_results + "/08_metagenomics"

    // haplotyping results
    haplotyping           = ont_results + "/haplotyping"

    // reporting results
    report_dir            = ont_results + "/09_report"
}
