*

# project root directory
!LICENSE
!README.md
!justfile
!Dockerfile
!Containerfile
!pyproject.toml
!flake.nix
!pixi.lock
!uv.lock
!_quarto.yml
!.pre-commit-config.yaml
!refman.toml
!data_manifest.yml
!.envrc
!.gitignore
!.gitattributes
!main.nf
!nextflow.config
!nf-test.config
!CLAUDE.md
!llms.txt

# github action workflows
!/.github
!/.github/workflows
!/.github/workflows/*.yml
!/.github/workflows/*.yaml

# nextflow workflows
!/workflows
!/workflows/*.nf

# nextflow subworkflows
!/subworkflows
!/subworkflows/*.nf

# nextflow modules
!/modules
!/modules/*.nf

# nextflow configuration
!/conf
!/conf/*.config
!/conf/*.yml

# bin of executable scripts
!/bin/
!/bin/*.py
!/bin/*.rs
!/bin/*.ers
!/bin/*.ts
!/bin/*.js
!/bin/*.R
!/bin/*.r
!/bin/*.pl
!/bin/*.lua
!/bin/*.sh
!/bin/*.awk
!/bin/README.md

# groovy libraries
!/lib
!/lib/*.groovy

# documentation
!/docs
!/docs/*.qmd
!/docs/*.md
!/docs/*.css
!/docs/*.lua
!/docs/*.py

# globus adapter
!/globus
!/globus/.gitignore
!/globus/README.md
!/globus/action_provider
!/globus/action_provider/oneroof_action_provider.py
!/globus/action_provider/requirements.txt
!/globus/config
!/globus/config/.env.template
!/globus/config/*.json
!/globus/flows
!/globus/flows/*.json
!/globus/scripts
!/globus/scripts/*.sh
!/globus/scripts/*.py

# nf-test
!tests/
!tests/**/*
!tests/**/*.nf.test
!tests/data/
!tests/data/**/*

/.quarto/
