*

# project root directory
!LICENSE
!README.md
!justfile
!Dockerfile
!Containerfile
!pyproject.toml
!flake.nix
!pixi.lock
!uv.lock
!_quarto.yml
!.pre-commit-config.yaml
!refman.toml
!data_manifest.yml
!.envrc
!.gitignore
!.gitattributes
!main.nf
!nextflow.config
!CLAUDE.md

# github action workflows
!/.github
!/.github/workflows
!/.github/workflows/*.yml
!/.github/workflows/*.yaml

# nextflow workflows
!/workflows
!/workflows/*.nf

# nextflow subworkflows
!/subworkflows
!/subworkflows/*.nf

# nextflow modules
!/modules
!/modules/*.nf

# nextflow configuration
!/conf
!/conf/*.config
!/conf/*.yml

# bin of executable scripts
!/bin/
!/bin/*.py
!/bin/*.ts
!/bin/*.js
!/bin/*.R
!/bin/*.r
!/bin/*.pl
!/bin/*.lua
!/bin/*.sh
!/bin/*.awk

# groovy libraries
!/lib
!/lib/*.groovy

# documentation
!/docs
!/docs/*.qmd
!/docs/*.md
!/docs/*.pdf
!/docs/*.html.gz
