params {

    // set platform
    platform = "illumina"

    // Minimum variant frequency to call a variant.
    min_variant_frequency = 0.05

    // the minimum acceptable average quality for a given read
    min_qual = 20

    // split off ont results
    params.illumina_results = params.results + "/illumina"

    // paired read merging
    merged = params.illumina_results + "/01_merged_reads"

    // primer handling results
    primer_handling = params.illumina_results + "/02_primer_handling"
    respliced = params.primer_handling + "/01_respliced_primers"
    complete_amplicons = params.primer_handling + "/02_complete_amplicons"
    merged_by_sample = params.primer_handling + "/03_merged_by_sampe"

    // alignment results
    alignment = params.illumina_results + "/03_alignments"
    mosdepth = params.alignment + "/01_alignments"
    cov_plots = params.alignment + "/02_coverage_plots"

    // consensus results
    consensus = params.illumina_results + "/04_consensus_seqs"

    // variant results
    variants = params.illumina_results + "/05_variants"
    ivar = params.variants + "/01_ivar_tables"
    vcf = params.variants + "/02_annotated_vcfs"
    variant_tsv = params.variants + "/03_variant_tsv"

    // qc results
    qc = params.illumina_results + "/06_QC"

    // phylo results
    phylo = params.illumina_results + "07_phylo"
    nextclade = params.phylo + "01_nextclade"

}
