/*
 * Virus Preset Configuration
 *
 * This preset configures OneRoof for general viral metagenomics analysis:
 * - Sylph database: IMG/VR 4.1 (2.9M viral genomes)
 * - Decontamination: Panhuman-1 index (human pangenome)
 *
 * Usage:
 *   nextflow run nrminor/oneroof -profile virus,docker ...
 *   oneroof run --preset virus --profile docker ...
 */

params {
    // Sylph metagenomic profiling database (IMG/VR 4.1 - viral genomes)
    // Source: https://genome.jgi.doe.gov/portal/IMG_VR/IMG_VR.home.html
    sylph_db_link = "http://faust.compbio.cs.cmu.edu/sylph-stuff/imgvr_c200_v0.3.0.syldb"
    meta_ref      = "imgvr_c200_v0.3.0.syldb"

    // Sylph-tax taxonomy identifier for IMG/VR 4.1
    // See: https://sylph-docs.github.io/sylph-tax/
    sylph_tax_db  = "IMGVR_4.1"

    // Deacon decontamination index (panhuman-1 - human pangenome)
    // Source: https://github.com/bede/deacon
    // Zenodo: https://zenodo.org/records/17288185
    contam_link   = "https://zenodo.org/api/records/17288185/files/panhuman-1.k31w15.idx/content"
}
