params {
    // set platform
    platform              = "illumina"

    //inputs 
    illumina_fastq_dir    = "${projectDir}/tests/data/illumina_reads"
    refseq                = "${projectDir}/tests/data/test_reference.fasta"
    ref_gbk               = "${projectDir}/tests/data/test_reference.gbk"
    primer_bed            = "${projectDir}/tests/data/test_primers.bed"

    // Minimum variant frequency to call a variant.
    min_variant_frequency = 0.05

    // the minimum acceptable average quality for a given read
    min_qual              = 20

    // split off ont results
    params.test           = "${projectDir}/test_results"

    // Where to place the Nanopore workflow run command
    run_command           = params.test

    // paired read merging
    merged                = params.test + "/01_merged_reads"

    // primer handling results
    primer_handling       = params.test + "/02_primer_handling"
    respliced             = params.primer_handling + "/01_respliced_primers"
    complete_amplicons    = params.primer_handling + "/02_complete_amplicons"
    merged_by_sample      = params.primer_handling + "/03_merged_by_sampe"

    // alignment results
    alignment             = params.test + "/03_alignments"
    genomecov             = params.alignment + "/01_genomecov"
    cov_plots             = params.alignment + "/02_coverage_plots"

    // consensus results
    consensus             = params.test + "/04_consensus_seqs"

    // metagenomic results 
    metagenomics          = params.test + "/metagenomics"

    // variant results
    variants              = params.test + "/05_variants"
    ivar                  = params.variants + "/01_ivar_tables"
    vcf                   = params.variants + "/02_annotated_vcfs"
    variant_tsv           = params.variants + "/03_variant_tsv"

    // qc results
    qc                    = params.test + "/06_QC"

    // phylo results
    phylo                 = params.test + "07_phylo"
    nextclade             = params.phylo + "01_nextclade"
}
